language: python
sudo: false
python:
- 2.7
- 3.2
- 3.3
- 3.4
- 3.5
addons:
  apt:
    packages:
    - git
    - mercurial
    - bzr
before_install:
- export PATH=$HOME/.local/bin:$PATH
- export PYTHONPATH=$HOME/.local/lib/python2.7/site-packages/
- export PYTHONPATH=$PYTHONPATH:$HOME/.local/lib/python3.2/site-packages/
- export PYTHONPATH=$PYTHONPATH:$HOME/.local/lib/python3.3/site-packages/
- export PYTHONPATH=$PYTHONPATH:$HOME/.local/lib/python3.4/site-packages/
- export PYTHONPATH=$PYTHONPATH:$HOME/.local/lib/python3.5/site-packages/
install:
- pip install pip --upgrade
- pip install nose
- python setup.py install
script: nosetests -s -v
